POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=5432
POSTGRES_INTERNAL_PORT=5432
DB_SSLMODE=disable

REDIS_PORT=6379
REDIS_INTERNAL_PORT=6379

REDPANDA_KAFKA_PORT=9092
REDPANDA_KAFKA_INTERNAL_PORT=9092
REDPANDA_BIND_ADDR=0.0.0.0
REDPANDA_ADMIN_PORT=9644
REDPANDA_ADMIN_INTERNAL_PORT=9644

PROMETHEUS_PORT=9090
PROMETHEUS_INTERNAL_PORT=9090

GRAFANA_PORT=3000
GRAFANA_INTERNAL_PORT=3000
GRAFANA_ADMIN_PASSWORD=
GRAFANA_ANONYMOUS_ENABLED=true