# Postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=5432
POSTGRES_INTERNAL_PORT=5432

# Redis
REDIS_PORT=6379
REDIS_INTERNAL_PORT=6379

# Redpanda
REDPANDA_KAFKA_PORT=9092
REDPANDA_KAFKA_INTERNAL_PORT=9092
REDPANDA_BIND_ADDR=0.0.0.0
REDPANDA_ADMIN_PORT=9644
REDPANDA_ADMIN_INTERNAL_PORT=9644

# Prometheus
PROMETHEUS_PORT=9090
PROMETHEUS_INTERNAL_PORT=9090

# Grafana
GRAFANA_PORT=3000
GRAFANA_INTERNAL_PORT=3000
GRAFANA_ADMIN_PASSWORD=
GRAFANA_ANONYMOUS_ENABLED=true

# Go services (API server and consumer)
DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSLMODE=disable
KAFKA_BROKER=localhost:9092
ADDR=:8080

# Stats service
STATS_GRPC_ADDR=localhost:50051
STATS_GRPC_PORT=50051